---
interface Props {
  title: string;
  description: string;
  keywords: string;
}
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
const { title, description, keywords } = Astro.props;

import '../styles/styles.scss';

// Heading
import '@fontsource/lusitana/400.css';
import '@fontsource/lusitana/700.css';

// Sub heading
import '@fontsource/mallanna';

// Body
import '@fontsource/hind-vadodara/300.css';
import '@fontsource/hind-vadodara/400.css';
import '@fontsource/hind-vadodara/500.css';
import '@fontsource/hind-vadodara/600.css';
import '@fontsource/hind-vadodara/700.css';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='keywords' content={keywords} />
    <meta name='author' content='Anton Emery' />
    <meta name='viewport' content='width=device-width' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:type' content='website' />
    <meta property='og:url' content='http://www.celticfingerstyleguitar.com' />
    <meta
      property='og:image'
      content='http://www.celticfingerstyleguitar.com/guitar-backyard.jpg'
    />
    <meta
      property='og:image:url'
      content='http://www.celticfingerstyleguitar.com/guitar-backyard.jpg'
    />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <style is:inline>
      /**
      * Minified by jsDelivr using clean-css v5.3.2.
      * Original file: /npm/modern-normalize@2.0.0/modern-normalize.css
      *
      * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
      */
      /*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
      *,::after,::before{box-sizing:border-box}html{font-family:system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';line-height:1.15;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab-size:4}body{margin:0}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}
      /*# sourceMappingURL=/sm/5b7c27b6a0fd11e81f813b36dc26f6049a71a06907ce03d53d65a3bfe866b576.map */
      </style>
  </head>
  <body>
    <div class='site-root'>
      <Nav />
      <slot />
      <Footer />
    </div>
  </body>
</html>
